<section>
  <%= @family.name %>

  <form action="/members" method="post">
    <label>
      <input type="text" name="given_name" />
    </label>
    <label>
      <input type="text" name="family_name" />
    </label>
    <input type="hidden" name="family_id" value="<%= @family.id %>" />
    <button name="create">
      Add Family Member
    </button>
  </form>
</section>
